<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9a8f980acc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../misc/add-task.css">
    <title>Add To-Do</title>
</head>
<body>
    <a href="/"><i class="fa-solid fa-house"></i></a>
    <div class="wrapper">
        <h1>Add a task</h1>
        <form>
            <label for="to_do_desc">Task Description:</label>
            <input type="text" name="todo_desc" id="todo_desc" placeholder="Walk my Dog"><br>
            <label for="status">Task Status:</label>
            <input type="checkbox" name="status" id="status"><br>
            <div class="button">
                <input type="submit" name="submit" id="submit" value="Add To-Do">
            </div>
        </form>
    </div>
</body>
</html>
