<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../misc/root.css">
    <title>To-Do Application</title>
</head>
<body>
    <div class="wrapper">
        <p>Welcome to the list.Todo Application!</p>
        <a href="/">Home</a>
        <a href="/add-new-todo">Add To Do</a>
        <a href="/current-todo-list">View To Do List</a>
        <a href="/get-single-todo">View To Do by ID</a>
        <a href="/update-existing-todo">Update To Do</a>
        <a href="/delete-from-todo">Delete To Do</a>
    </div>
</body>
</html>